@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
  background-image: url("../public/bg.jpg");
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  margin: 15px 0 6px;
  font-size: 1.4em;
  font-weight: 500;
}
